/* ===============================
   AuraGPT Layout v0.2
   =============================== */

html.auragpt body{

    padding:12px !important;

    overflow:hidden;

}

/* App */

html.auragpt body>div{

    height:calc(100vh - 24px);

}

/* Sidebar */

html.auragpt aside{

    margin:12px;

    border-radius:26px;

    border:1px solid rgba(255,255,255,.08);

    background:rgba(18,18,25,.55)!important;

    backdrop-filter:blur(24px);

    box-shadow:
        0 20px 60px rgba(0,0,0,.45);

}

/* Main */

html.auragpt main{

    padding-left:30px!important;

    padding-right:30px!important;

}

/* Conversation */

html.auragpt article{

    max-width:980px;

    margin:auto;

}